.btn {
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  width: 180px;
  background: rgba(0, 0, 0, 0.82);
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px rgba(119, 118, 118, 0.82);
  transition: 0.2s;
}

.btn:hover:not(.disabled) {
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 1px 1px rgba(119, 118, 118, 0.82);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .btn {
    width: 90%;
  }
}

.disabled {
  background: rgba(85, 85, 85, 0.82);
  box-shadow: 1px 1px rgba(119, 118, 118, 0.82);
  color: #ccc;
}
