.loading-bar__container {
  /* visibility: visible; */
  z-index: 9999;
  width: 200px;
  margin: auto;
  border: 2px solid #fff;
  height: 20px;
}

.loading-bar__inner {
  border: none;
  height: 20px;
  background-color: #fff;
  width: 0;
  transition: 0.1s;
}

#loading-screen {
  background-color: black;
  color: white;
  text-shadow: 1px 1px white;
  font-size: 32px;
  text-align: center;

  transition: 0.3s;
  height: 0;
  width: 0;
  opacity: 0;
  z-index: 999;
}

.loading-screen__text {
  font-size: 32px;
  margin-bottom: 15px;
}

.show {
  z-index: -999;
  opacity: 1 !important;
  height: 100vh !important;
  width: 100% !important;
}

#load-image {
  display: block;
  margin: auto;
  z-index: 998;
  max-height: 75%;
  width: auto;
}
