#score-info {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
}

#fps-count {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
}

#lap-time {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
}

#best-lap-time {
  position: absolute;
  bottom: 20px;
  right: 0;
  background-color: black;
  color: white;
}

#important-info {
  color: black;
  text-shadow: 1px 1px white;
  font-size: 64px;
  position: absolute;

  left: 1%;
  right: 1%;
  top: 200px;
  text-align: center;
}

#secondary-info {
  color: black;
  text-shadow: 1px 1px white;
  font-size: 32px;
  position: absolute;

  left: 1%;
  right: 1%;
  top: 100px;
  text-align: center;
}

.game-text {
  color: black;
  text-shadow: 1px 1px white;
  font-size: 16px;
  font-family: monospace;
}

#totalTime {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: monospace;
  font-size: 64px;
  text-shadow: 1px 1px white;
  background-color: white;
  opacity: 0.9;
  z-index: 9;
}

@media only screen and (max-width: 1000px) {
  #totalTime {
    top: 5px;
    font-size: 24px;
  }
}

.score-table {
  text-align: left;
  width: 270px;
  background-color: white;
  color: black;
  padding: 10px;
}

.score-table:nth-child(odd) {
  background-color: #eee;
  border-bottom: 1px solid black;
}

.hidden-overflow {
  overflow: hidden;
}
