#score-info {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
}

#fps-count {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
}

#lap-time {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
}

#best-lap-time {
  position: absolute;
  bottom: 20px;
  right: 0;
  background-color: black;
  color: white;
}

#important-info {
  color: rgb(155, 41, 41);
  text-shadow: 1px 1px white;
  font-size: 64px;
  position: absolute;

  left: 1%;
  right: 1%;
  top: 50px;
  text-align: center;
}

#load-screen {
  color: rgb(155, 41, 41);
  text-shadow: 1px 1px white;
  font-size: 32px;
  position: absolute;
  left: 1%;
  right: 1%;
  top: 50px;
  text-align: center;
}

.game-text {
  color: black;
  text-shadow: 1px 1px white;
  font-size: 16px;
  font-family: monospace;
}
