#controller-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#controller-settings-modal {
  /* width: 50%; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: "#eeebdf";
  border: "2px solid #000";
  padding: 10;
}

.controller-btn {
  /* width: 150px;
  height: 150px;
  line-height: 150px; */
  color: green;
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  touch-action: none;
  -ms-touch-action: none;
}

/* @media only screen and (max-width: 350px) {
  .controller-btn {
    width: 120px;
    height: 120px;
    line-height: 120px;
  }
} */

#orientation-info {
  width: 100px;
  height: 100px;
  color: black;
  position: absolute;
}

#more-speed-info {
  width: 100px;
  height: 100px;
  color: black;
  position: absolute;
  font-size: 32px;
}

#orientation-info,
#more-speed-info,
.controller-btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
