.garage__item {
  cursor: pointer;
  width: 100%;
  min-height: 50px;
  height: auto;
  max-height: 150px;
  text-align: center;
  vertical-align: baseline;
  transition: 0.2s;
}

.garage__item--not-owned {
  filter: opacity(0.5);
  border-color: gray;
}
